  
@media only screen and (max-width: 1250px){
    .left_card_2 img{
        width: 350px;
        height: 350px;
     }
   }  


@media only screen and (max-width: 1150px){
 .card-body h3{
     font-size: 20px;
 }
}


@media only screen and (max-width: 1000px){
    /* .box{
        overflow: none;  
     } */
     
     
     .cardTextFeatured{
         float: none;
        margin: auto;
         
     }

     .cardText{
        writing-mode: horizontal-tb;
        margin-bottom: 20px !important;
        margin-left: 50%;
        
    }

     .wrapper-grid {
          float: left;
          overflow: hidden;
          display: grid;
          grid-template-columns: repeat(auto-fit, 18rem);
          justify-content: center;
          width: 99%;   
     }

  

     .left_card_2{
      width: 100%;
  }

  .right_card_2{ 
     width: 100%;
  }

  .card_text2{
    width: 100%;
}


.cardText2{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    margin-left: 40%;
    font-size: 12px;
    margin-bottom: 50px !important;
    margin-right: 0 !important;
    float: none;
} 


    .leftSubscribe{
        font-size: 30px;
        width: 50%;
        }
        .rightSubscribe{
            width: 50%;
            }
    .rightSubscribe_button{
       width: 200px;
       border-radius: 35px !important;
       font-size: 14px !important;
       height: 80px;
    }
    .notifications{
        font-size: 16px;
    }

    .cardFive{
        display: none !important;
    }

    .left_card_2 img{
        width: 380px;
        height: 380px;
         margin: auto;
         display: block;
         text-align: center;
     }


}

@media only screen and (max-width: 990px){
    .navIcon{
        display: none;
    }

    .navbar-brand
    {
        left: 60px;
    }
    .navbar ul li a{
        margin-left: 5px;
    }

    .left_subscribe{
       float: none;
        text-align: center;
        margin: auto;
    }
    .right_subscribe{
       float: none;
        margin: auto;
    }
    .subscribe_button{
      margin: auto !important;
      display: block !important;
    }

    .card_2{
       margin-top: 20px;
        margin-bottom: 20px;
    }

    .card2_header p{
        font-size: 30px;
    }

    .card2_para p{
        font-size: 13px;
    }
   }

@media only screen and (max-width: 776px){

    .cardFour_large{
        margin-right: 0 !important;
        }

}

/* card2_para */
@media only screen and (max-width: 576px){
    .cardOne{
        margin-right: 0px;
        }
        
        .cardTwo{
        margin-right: 0px;
        }
        
        .cardThree{
        margin-right: 0px;
        }
        
        .cardFour{
        margin-right: 0px;
        }

    .wrapper{  
        width:90%; 
        display: block !important;
        margin:  auto !important;
    }

   .name{
    font-size: 17px;
   }

    .card_text2{
       margin-bottom: 20px;
    }

    .card_2{
        margin-top: 10px;  
    }

    .left_card_2 img{
         width: 300px;
         height: 300px;
     }

    .card4{
        margin-top: 0px;
    }

    .left_subscribe{
        width: 100%;
        margin: auto;
        display: block;
        font-size: 35px;
        }
     
    .right_subscribe{
        width: 250px;
        height: 70px;
        }
        .mail{
            margin-top: 18px;
            margin-right: 5px;
        }

        .sub{  
            width: 90px;
            height: 50px;
            border-radius: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .card2_i_button{
            border-radius: 30px !important;
            width: 90px;
            height: 50px;
            font-size: 10px;
            font-weight: 400 ;
        }

        .footerText{
           width: 100%;
           }



           .card_2{
            overflow: none;
        }
        
        .card_text2{
            float: none;
           
        }
        
        .left_card_2{
            float: none;
        }
        
        
        .right_card_2{
            float: none;
        }

        .card2_icon_button{
            margin-bottom: 20px;
        }


}


@media only screen and (max-width: 450px){
    .left_card_2 img{
        width: 220px;
        height: 220px;
    }
}













  
@media screen and (max-width:1000px){
    .wrapper-grid{
      grid-template-columns: repeat(2,1fr);
    }
    
    .cardOne, .cardTwo, .cardThree, .cardFour, .cardFive{
        width: 100%;
        height: 100%;
   
}
    
    .description {
    margin-bottom: 30px;
}
    
    .box{
     max-width: 800px;
     margin: auto;
}


}
