  
@media only screen and (max-width: 1150px){
 .card-body h3{
     font-size: 20px;
 }
}


@media only screen and (max-width: 1000px){

    .leftSubscribe{
        font-size: 30px;
        width: 50%;
        }
        .rightSubscribe{
            width: 50%;
            }
    .rightSubscribe_button{
       width: 200px;
       border-radius: 35px !important;
       font-size: 14px !important;
       height: 80px;
    }
    .notifications{
        font-size: 16px;
    }

    .cardFive{
        display: none !important;
    }

    .left_card_2 img{
       height: 100%;
     }
    .right_card_2{
       height: 100%;
     }


}

@media only screen and (max-width: 990px){
    .navIcon{
        display: none;
    }

    .navbar-brand
    {
        left: 60px;
    }
    .navbar ul li a{
        margin-left: 5px;
    }

    .left_subscribe{
       float: none;
        text-align: center;
        margin: auto;
    }
    .right_subscribe{
       float: none;
        margin: auto;
    }
    .subscribe_button{
      margin: auto !important;
      display: block !important;
    }
   }

@media only screen and (max-width: 776px){
    
  .left_card_2{
      
      width: 100%;
     
  }
  .right_card_2{
     
     width: 100%;
  }
  .card_text2{
    width: 100%;
 
}


.cardText2{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    margin-left: 40%;
    font-size: 12px;
    margin-bottom: 50px;
}

}

/* card2_para */
@media only screen and (max-width: 576px){
    .cardOne{
        margin-right: 0px;
        }
        
        .cardTwo{
        margin-right: 0px;
        }
        
        .cardThree{
        margin-right: 0px;
        }
        
        .cardFour{
        margin-right: 0px;
        }

    .wrapper{  
        width:90%; 
        display: block !important;
        margin:  auto !important;
    }

    /* .wrapper_2{   
        margin: auto;
    } */

    .smallCard{
        width: 90%;
        display: block !important;
        margin: auto !important;
    }

    .cardText{
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        display: inline; 
        margin-bottom: 10px !important;
        margin: auto;
    }
    .cardText2{
        /* margin-bottom: 10px !important; */
    }

    .card4{
        margin-top: 0px;
    }

    /* .navigation_button{
        margin-bottom: 45px;
    } */

    .left_subscribe{
        width: 100%;
        margin: auto;
        display: block;
        font-size: 35px;
        }
     
    .right_subscribe{
        width: 250px;
        height: 70px;
        }
        .mail{
            margin-top: 18px;
            margin-right: 5px;
        }

        .sub{  
            width: 90px;
            height: 50px;
            border-radius: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .card2_i_button{
            border-radius: 30px !important;
            width: 90px;
            height: 50px;
            font-size: 10px;
            font-weight: 400 ;
        }

        .footerText{
           width: 100%;
           }
}
