

@media only screen and (max-width: 1150px){
 .card-body h3{
     font-size: 20px;
 }
}
@media only screen and (max-width: 1000px){
    .left-card2{
       width: 100%;
       height: 100%;
        }  
.right-card2{
    width: 100%;
    height: 100%;
    }
    .card2_para{
        width: 100%;
    }
}

card2_para
@media only screen and (max-width: 800px){
    .cardText{
        display: none;
    }
}

@media only screen and (min-width: 800px){
 
}
