*
{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F4FB;
}

.wrapper{
    max-width: 1700px;
    margin: auto;
}

@font-face{
    font-family: 'GothamBold';
    src: url(fonts/GothamBold.ttf);
}
@font-face{
    font-family: 'GothamMedium';
    src: url(fonts/GothamMedium.ttf);
    
}

/* Navbar */
.navbar-brand img
{
    width:140px;
}
.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.navbar-brand img{
 width: 100px;
 height: 50px;
}
.navbar
{
   padding: 1em 0 !important; 
}
.navbar-toggler
{
    border: none !important;
    outline: none !important;
}
.navIcon{
    margin-top: 13px;
}


/* Small card */

.smallCard{
    overflow: hidden;
    margin-top: 20px;
}

.cardText{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline; 
    margin-bottom: 200px;
    margin-right: 10px;
    text-transform: uppercase;
}

.card{
    border-radius: 30px !important;
    margin-right: 20px;
}

.smallCard img{
    border-radius: 30px !important;
    width: 93%;
    margin: auto;
    margin-top: 10px;
}

.cardOne{
background-color: #9AECDB !important;

}

.cardTwo{
background-color: #78e08f !important;
}

.cardThree{
background-color: #f8c291 !important;
}

.cardFour{
background-color: #8854d0 !important;
}

.cardFive{
background-color: #f78fb3 !important;
}


/* card 2 */
.card_2{
    overflow: hidden;
    margin-top: 50px;
    height: 350px;
}

.left_card_2{
    float: left;
    width: 48%;
    height: 100%;
    margin-right: 4%;
}
.left_card_2 img{
   height: 100%;
   width: 100%;
   border-radius: 30px;
}

.right_card_2{
    float: left;
    width: 48%;
    height: 100%;
}
/* 
.card2{
    background-color: red;
    height: 350px;
    overflow: hidden;
    margin-top: 50px;
}

.left_card2{
float: left;
height: 100%;
width: 50%;
margin-right: 30px;
}


.right_card2{
float: left;
width: 50%;
height: 100%;
}
.left_card2 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;  
} */

.card2_icon_button{
    border-radius: 30px !important;
    width: 100px;
}

.card2_icon ul{
list-style: none;

}

.card2_icon ul li{
 display: inline-block;
}

.card2_icon ul li a{
display: block;

}

.card2_header p{
    font-family: GothamMedium;
    font-weight: 800;
    font-size: 30px;
}

.card2_para p{
    text-align: justify;
}

.card2_address{
overflow: hidden;
}

.card2_address_img{
    
    float: left;
}

.card2_address_name{
    float: left;
    margin-left: 10px;
    line-height: 0.7;
}


.card2_address_img img{
    margin-top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card3 , .card4{
    border-radius: 30px;
}

.card3 img , .card4 img{
    border-radius: 30px 30px 0 0;
}

.card3{
    margin-top: 50px;
}

.card4_first{
    margin-bottom: 30px;
}
.card4{
    margin-top: 50px;
}
.card4_button{
    margin: auto;
    display: block !important;
    border-radius: 35px !important;
    width: 140px;
    height: 70px;
}

.trendy{
    margin-top: 50px;
}

.navigation_button{
    width: 140px;
    border-radius: 30px !important;
    margin-right: 20px;
    font-size: 11px !important;
    text-transform: uppercase;
    margin-bottom: 5px;
}


/* subscribe */

.subscribe{
    overflow: hidden;
    margin-top: 100px;
    }
    
    .leftSubscribe{
    float: left;
    width: 65%;
    font-family: GothamBold;
    font-size: 45px;
    }
    
    .rightSubscribe{
    float: left;
    width: 35%;
    }
    
    .notifications{
        font-size: 20px;
        font-weight: 700;
        top: 50px;
    }
    
    .subscribe_btn{
        font-size: 14px;
    }
    
    .rightSubscribe_button{
        border-radius: 50px !important;
        width: 300px;
        height: 100px;
    }
    
    .rightSubscribe_button_mini{
        width: 80px;
        height: 30px;
        border-radius: 30px !important;
        margin-top: 0px;
    }


/*Footer */
.footer{
    margin-top: 60px;
}
.footerText{
    width: 500px;
    text-align: justify;
    font-family: GothamMedium;
}

.footerIcon ul{
list-style-type: none;
margin-left: 0;

}

.footerIcon ul li{
display: inline-block;
margin-left: 0;
}

.footerIcon ul li a{
margin-right: 20px;
margin-left: 0;
}


