*
{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F4FB;
}

.wrapper{
    max-width: 1650px;
    margin: auto;
}

.wrapper_2{
    max-width: 1000px !important;
    margin: auto !important;
}

@font-face{
    font-family: 'GothamBold';
    src: url(fonts/GothamBold.ttf);
}
@font-face{
    font-family: 'GothamMedium';
    src: url(fonts/GothamMedium.ttf); 
}

/* Navbar */
.navbar-brand img
{
    width:140px;
}
.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.navbar-brand img{
 width: 100px;
 height: 50px;
}
.navbar
{
   padding: 1em 0 !important; 
}
.navbar-toggler
{
    border: none !important;
    outline: none !important;
}
.navIcon{
    margin-top: 13px;
}


/* Small card */


















/* * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
   */
  .box{
     overflow: hidden;
       max-width: 1600px;
       margin: auto;
      
  }
  
  
  .cardTextFeatured{
      float: left;
      width: 1%
  }
  .wrapper-grid {
       float: left;
       overflow: hidden;
       display: grid;
       grid-template-columns: repeat(auto-fit, 18rem);
       justify-content: center;
       width: 99%;
      
     
  }
  
  .container {
    overflow: hidden;
    background-color: white;
    /* text-align: center; */
    position: relative;
    margin: 0.5rem;
  }
  
  
  .name {
      font-weight: bold;
      font-size: 1.5rem;
      text-align: left;
      margin: 10px 10px 0 20px;
  }
  
  .description {
      margin: 1rem 2rem;
      font-size: 0.9rem;
      text-align: left;
      margin: 10px 10px 0 20px;
      margin-bottom: 30px;
  }
  
  
  
  
  
  
  
  
  .cardText{
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      display: inline; 
  /*    margin-bottom: 200px;*/
  /*    margin-right: 10px;*/
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      margin-left: 50px;
      margin-top: 50px;
  }
  
  .card img{
       height: 170px;
       border-radius: 30px !important;
       width: 90%;
       margin: auto;
       margin-top: 12px;
  }
  
  
  .card{
      border-radius: 30px !important;
  }
  
  
  .cardOne{
      background-color: #9AECDB !important;
      width: 16rem;
      height: 100%;
  /*margin-right: 30px;*/
  }
  
  .cardTwo{
  background-color: #78e08f !important;
       width: 16rem;
      height: 100%;
  /*margin-right: 30px;*/
  }
  
  .cardThree{
  background-color: #f8c291 !important;
       width: 16rem;
      height: 100%;
  /*margin-right: 30px;*/
  }
  
  .cardFour{
  background-color: #8854d0 !important;
       width: 16rem;
      height: 100%;
  /*margin-right: 30px;*/
  }
  
  .cardFive{
  background-color: #f78fb3 !important;
       width: 16rem;
      height: 100%;
  }
  
  
  
      .cardOne, .cardTwo, .cardThree, .cardFour, .cardFive{
        
          height: 320px;
     
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
/* 
.smallCard{
    overflow: hidden;
    margin-top: 20px;
}

.cardText{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline; 
    margin-bottom: 200px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}


.card{
    border-radius: 30px !important;
}


.smallCard img{
    border-radius: 30px !important;
    width: 93%;
    margin: auto;
    margin-top: 8px;
}


.cardOne{
background-color: #9AECDB !important;
margin-right: 30px;
}

.cardTwo{
background-color: #78e08f !important;
margin-right: 30px;
}

.cardThree{
background-color: #f8c291 !important;
margin-right: 30px;
}

.cardFour{
background-color: #8854d0 !important;
margin-right: 30px;
}

.cardFive{
background-color: #f78fb3 !important;
} */


/* card 2 */
.card_2{
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    /* height: 400px; */
}

.card_text2{
    float: left;
    width: 3%;
}

.left_card_2{
    float: left;
    width: 40%;
    margin-right: 2%;
    height: 100%;
}


.right_card_2{
    float: left;
    width: 400px;
    /* height: 400px; */
}

.left_card_2 img{
    width: 400px;
    height: 400px;
    border-radius: 15px;

 }
 
.cardBody{
    margin-top: 35px;
}

.cardText2{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
    margin-top: 90px;
    font-size: 12px !important;
    letter-spacing: 2px;
}

.card2_icon_button{
    border-radius: 30px !important;
    width: 100px;
    text-transform: uppercase;
    font-size: 11px !important;
    letter-spacing: 2px;
    margin-bottom: 2px;
}

.card2_icon ul{
list-style: none;

}

.card2_icon ul li{
 display: inline-block;
}

.card2_icon ul li a{
display: block;

}

.card2_header p{
    font-family: GothamMedium;
    font-weight: 800;
    font-size: 30px;
}

.card2_para p{
    text-align: justify;
    font-weight: 600;
}

.card2_address{
overflow: hidden;
}

.card2_address_img{
    
    float: left;
}

.card2_address_name{
    float: left;
    margin-left: 10px;
    line-height: 0.7;
}


.card2_address_img img{
    margin-top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card3 , .card4{
    border-radius: 30px;
}

.card3 img , .card4 img{
    border-radius: 30px 30px 0 0;
}

.card3{
    margin-top: 30px;
}

.card4_first{
    margin-bottom: 30px;
}
.card4{
    margin-top: 30px;
}

.cardFour_large{
    background-color: #8854d0 !important;
    }
    
    .cardFive_large{
    background-color: #f78fb3 !important;
    }
.card4_button{
    margin: auto;
    display: block !important;
    border-radius: 35px !important;
    width: 140px;
    height: 60px;
}


.cardOne_card3{
    background-color: #9AECDB !important;
    }
    
    .cardTwo_card3{
    background-color: #78e08f !important;
    }
    
    .cardThree_card3{
    background-color: #f8c291 !important;
    }
    
/* navigation */
.trendy{
    margin-top: 5rem;
}

.trendyHeader{
text-align: center;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 11px;

}

.navigation_button{
    display: flex;
    border-radius: 30px !important;
    margin-right: 10px;
    font-size: 10px !important;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 2px;
}


/* subscribe */

.subscribe{
    overflow: hidden;
    margin-top: 100px;
    }

.left_subscribe{
float: left;
width: 50%;
font-family: GothamBold;
font-size: 45px;
}

.right_subscribe{
background-color: #130f40;
float: left;
width: 300px;
height: 80px;
border-radius: 40px;
margin-left: 50px;
color: #fff;
}

.subscribe_button{
    overflow: hidden;
}
.mail{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    
}
.sub{
    float: left;
    margin-right: 0;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub_span{
    margin-top: 40px !important;
}


.card2_i_button{
    border-radius: 30px !important;
    width: 130px;
    height: 60px;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600 !important;
}

/*Footer */
.footer{
    margin-top: 60px;
}
.footerText{
    width: 500px;
    text-align: justify;
    font-family: GothamMedium;
    margin-top: 15px;
}

.footerIcon ul{
list-style-type: none;
margin-left: 0;

}

.footerIcon ul li{
display: inline-block;
margin-left: 0;
}

.footerIcon ul li a{
margin-right: 20px;
margin-left: 0;
}


