*
{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F4FB;
}

.wrapper{
    max-width: 1700px;
    margin: auto;
}

@font-face{
    font-family: 'GothamBold';
    src: url(fonts/GothamBold.ttf);
}
@font-face{
    font-family: 'GothamMedium';
    src: url(fonts/GothamMedium.ttf);
    
}

/* Navbar */
.navbar-brand img
{
    width:140px;
}
.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.navbar-brand img{
 width: 100px;
 height: 50px;
}
.navbar
{
   padding: 1em 0 !important; 
}
.navbar-toggler
{
    border: none !important;
    outline: none !important;
}
.navIcon{
    margin-top: 13px;
}


/* Small card */

.smallCard{
    overflow: hidden;
    margin-top: 20px;
}

.cardText{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline; 
    margin-bottom: 200px;
    margin-right: 10px;
    text-transform: uppercase;
}


.card{
    border-radius: 30px !important;
    margin-right: 20px;
}

.smallCard img{
    border-radius: 30px !important;
    width: 93%;
    margin: auto;
    margin-top: 10px;
}

.cardOne{
background-color: #9AECDB !important;
}

.cardTwo{
background-color: #78e08f !important;
}

.cardThree{
background-color: #f8c291 !important;
}

.cardFour{
background-color: #8854d0 !important;
}

.cardFive{
background-color: #f78fb3 !important;
}
/* 
.card1, .card2, .card3, .card4, .card5{
    float: left;
    width: 18%;
}

.card1, .card2, .card3, .card4{
    margin-right: 2%;
    
} */

/* card 2 */
.card_2{
    overflow: hidden;
    margin-top: 50px;
}

.card_text2{
    float: left;
    width: 4%;
}

.left_card_2{
    float: left;
    width: 46%;
    margin-right: 2%;
    height: 350px;
}

.left_card_2 img{
   width: 100%;
   height: 100%;
   border-radius: 30px;
}

.right_card_2{
    float: left;
    width: 48%;
    height: 100%;
}

.cardText2{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}

.card2_icon_button{
    border-radius: 30px !important;
    width: 100px;
    text-transform: uppercase;
    font-size: 11px !important;
    letter-spacing: 2px;
    margin-bottom: 2px;
}

.card2_icon ul{
list-style: none;

}

.card2_icon ul li{
 display: inline-block;
}

.card2_icon ul li a{
display: block;

}

.card2_header p{
    font-family: GothamMedium;
    font-weight: 800;
    font-size: 30px;
}

.card2_para p{
    text-align: justify;
}

.card2_address{
overflow: hidden;
}

.card2_address_img{
    
    float: left;
}

.card2_address_name{
    float: left;
    margin-left: 10px;
    line-height: 0.7;
}


.card2_address_img img{
    margin-top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card3 , .card4{
    border-radius: 30px;
}

.card3 img , .card4 img{
    border-radius: 30px 30px 0 0;
}

.card3{
    margin-top: 50px;
}

.card4_first{
    margin-bottom: 30px;
}
.card4{
    margin-top: 50px;
}

.cardFour_large{
    background-color: #8854d0 !important;
    }
    
    .cardFive_large{
    background-color: #f78fb3 !important;
    }
.card4_button{
    margin: auto;
    display: block !important;
    border-radius: 35px !important;
    width: 140px;
    height: 60px;
}

.trendy{
    margin-top: 50px;
}

.navigation_button{
    width: 140px;
    border-radius: 30px !important;
    margin-right: 20px;
    font-size: 11px !important;
    text-transform: uppercase;
    margin-bottom: 5px;
}


/* subscribe */

.subscribe{
    overflow: hidden;
    margin-top: 100px;
    }

.left_subscribe{
float: left;
width: 50%;
font-family: GothamBold;
font-size: 45px;
}

.right_subscribe{
background-color: #130f40;
float: left;
width: 300px;
height: 80px;
border-radius: 40px;
margin-left: 50px;
color: #fff;
}

.subscribe_button{
    overflow: hidden;
}
.mail{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    
}
.sub{
    float: left;
    margin-right: 0;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub_span{
    margin-top: 40px !important;
}


.card2_i_button{
    border-radius: 30px !important;
    width: 130px;
    height: 60px;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600 !important;
}

/*Footer */
.footer{
    margin-top: 60px;
}
.footerText{
    width: 500px;
    text-align: justify;
    font-family: GothamMedium;
    margin-top: 15px;
}

.footerIcon ul{
list-style-type: none;
margin-left: 0;

}

.footerIcon ul li{
display: inline-block;
margin-left: 0;
}

.footerIcon ul li a{
margin-right: 20px;
margin-left: 0;
}


